{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% assign current_lang = page.lang | default: "en" %}
{% if current_lang == "zh" %}
  {% assign author_name = author.name_zh | default: author.name %}
  {% assign author_bio = author.bio_zh | default: author.bio %}
  {% assign author_location = author.location_zh | default: author.location %}
  {% assign author_employer = author.employer_zh | default: author.employer %}
  {% assign contact_label = "联系" %}
  {% assign email_label = "邮箱" %}
{% else %}
  {% assign author_name = author.name_en | default: author.name %}
  {% assign author_bio = author.bio_en | default: author.bio %}
  {% assign author_location = author.location_en | default: author.location %}
  {% assign author_employer = author.employer_en | default: author.employer %}
  {% assign contact_label = "Contact" %}
  {% assign email_label = "Email" %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author_name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author_name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author_name }}</h3>
    {% if author_bio %}<p class="author__bio">{{ author_bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ contact_label }}</button>
    <ul class="author__urls social-icons">
      {% if author_location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author_location }}</li>
      {% endif %}
      {% if author_employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author_employer }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ email_label }}</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      {% endif %}
    </ul>
  </div>
</div>
